
@{ 
    ViewData["Title"] = "About";
    var message = TempData["Message"] as string;
}

<form asp-action="Contact">
     <div class="form-horizontal">
           <h4>About</h4>
           <hr />

            <div class="row">
                <div class="col-md-10">
                <h2>This website was created by Lerato Hlahane.</h2>
               <ul></ul>
           </div>
       </div>
     </div>
</form>